<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.argorithm.aboutproject.mapper.PersonInfoLargeMapper">
  <resultMap id="BaseResultMap" type="com.liang.argorithm.aboutproject.entity.PersonInfoLarge">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="motto" jdbcType="VARCHAR" property="motto" />
  </resultMap>

<!--  <insert id="createStudentAutoKey" parameterType="liming.student.manager.data.model.StudentEntity" keyProperty="studentId">-->
<!--    <selectKey keyProperty="studentId" resultType="String" order="BEFORE">-->
<!--      select nextval('student')-->
<!--    </selectKey>-->
<!--    INSERT INTO STUDENT_TBL(STUDENT_ID,-->
<!--    STUDENT_NAME,-->
<!--    STUDENT_SEX,-->
<!--    STUDENT_BIRTHDAY,-->
<!--    STUDENT_PHOTO,-->
<!--    CLASS_ID,-->
<!--    PLACE_ID)-->
<!--    VALUES (#{studentId},-->
<!--    #{studentName},-->
<!--    #{studentSex},-->
<!--    #{studentBirthday},-->
<!--    #{studentPhoto, javaType=byte[], jdbcType=BLOB, typeHandler=org.apache.ibatis.type.BlobTypeHandler},-->
<!--    #{classId},-->
<!--    #{placeId})-->
<!--  </insert>-->
</mapper>